body {
    overflow-x: hidden;
}

h1 {
    color: var(--white);
}


::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 100px;
    background-color: rgba(223, 218, 218, 0.484);  
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
