@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Raleway&display=swap");
:root {
  --ff-family: "Space Mono", monospace;
  --font: "Share Tech Mono", monospace;
  --font-raleway: "Raleway", san-serif;
  --font-v: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --white: #fff;
  --blue-main: #64ffda;
  --gray-blue: #6f7791;
  --title-blue: #21a9a9;
  --blue-nd: #08fdd8;
}

*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020203;
  font-family: var(--font);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  overflow-x: hidden;
}

h1 {
  color: var(--white);
}

.tracker {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #21a9a9;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  transition: .2s ease;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #21a9a9;
  position: fixed;
  left: 0;
  transform: translate(-50%, -50%);
  top: 0;
  border-radius: 50%;
  transition: .18s ease;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 100px;
  background-color: rgba(223, 218, 218, 0.484);
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

::selection {
  color: #000;
  background-color: var(--blue-nd);
}