@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.info_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
}

.container_text {
    width: 600px;
    height: 76%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    animation: opacity .6s linear 1;
}

.container_text p {
    line-height: 25px;
    font-size: 1.25rem;
}

.container_text h3 {
    color: var(--blue-main);
    font-family: var(--font);
    animation: opacity .4s linear 1;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 0px 20px 0px;
}

.container_text > h3 > b {
    font-size: 25px;
    font-family: var(--font-raleway);
    color: var(--gray-blue);
    animation-delay: .3s;
}

.img {
    width: 350px;
    animation: opacity .6s linear 1;
    height: 65%;
    margin: 50px 0px;
    position: relative;
}
.img > img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.wrapper p{
    width: 100%;
    height: auto;
    margin: 10px 0px;
    line-height: 35px;
    color: #cbcbcb;
    font-family: var(--font-raleway);
    font-weight: 500;
}

.wrapper p b {
    color: var(--blue-main);
    cursor: pointer;
    transition: ease-in 850ms;
    padding: 4px 6px;
    border: 1px solid transparent;
    line-height: 35px;
}

.wrapper b:hover {
    padding: 4px 6px;
    border: 1px solid var(--blue-main);
    transition: ease-in 150ms;
}