@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Roboto:wght@500&display=swap");

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

.header {
  max-width: 100vw;
  width: 100%;
  height: 10vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.navigation {
  width: 85%;
  height: 100%;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.navigation h2{
  color: #6f7791;
  transition: 250ms;
  transform: scale(1);
}

.navigation h2:hover {
  color: #08fdd8;
  transition: 250ms;
  transform: scale(1.1);
  cursor: pointer;
}

.navigation_collection {
  width: 40vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_collection,
.item {
  display: flex;
  align-items: center;
  margin: 0px 8px;
  padding: 3px 2px;
  color: #08fdd8;
  list-style: none;
}

.item {
  position: relative;
}

.item p {
  color: #6f7791;
  margin: 0px 0.75em;
  cursor: pointer;
  font-size: 1.15rem;
}

.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15px;
  transform: scaleX(0);
  z-index: -1;
  transition: transform 250ms ease-in;
  transform-origin: right;
  background-color: #08fdd85e;
}

.item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.item:hover p {
  color: #ddd;
  transition: 400ms;
  transform: scale(1.1);
}
