* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work_page {
  max-width: 100%;
  min-height: calc(100vh - 10vh);
  padding: 80px;
}

.work__page__title {
  margin: .625rem;
}

.container_work {
  width: 100%;
  min-height: 40vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.825rem;
}

.work {
  border-inline-start: 3px solid;
  border-block-start: 3px solid;
  border-image-source: radial-gradient(
    circle at top left,
    var(--blue-nd),
    transparent 45%
  );
  border-image-slice: 1;
  color: #fff;
  padding: 10px 20px;
  transition: 250ms ease-in;
}

.work:hover {
  border-image-slice: 100 fill;
}
